<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>    
    
  </head>

  <body>
    <% include ../views/partials/nav %>

    <ul id="gototop">
      <li><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></li>
    </ul>

    <div id="window1" class="window">
      <div class="box">
      <div class="container">
        <figure class="background">
            <video id="vid1" autoplay loop>
              <source src="images/background.mp4" type="video/mp4"/>
            </video>
          </figure>

          <section>
            <h8 class="icon1"><img src="images/icon1.png"/></h8>
          </section>

    <div class="row">
    	<div class="col-lg-12">
    		<section class="page-header">
              <p class="uinfo">BOXES STATE</p>
        </section>
            
            <% boxes.forEach(function(box) { %>
            
            <div class="each" id="box_info">
              

            	<p class="mybox">Box ID : <%= box.box_id %><br></p>

            	<a href="/admin/<%= box._id %>">
           		 <% if(box.using == 0){ %>
            	<img src="/images/unused_box.png" width="100px" height="100px">
         		<% } else{ %>  
         		 <img src="/images/used_box.png" width="100px" height="100px">
         		 <% } %>
         		 </a>
         		 <br>
                
             </div>
          <% }) %>
          </div>
      </div>
      </div>
      </div>
      </div>



      <div id="window2" class="window">
        <div class="box">
        <div class="container">
          <figure class="background">
              <video id="vid1" autoplay loop>
                <source src="images/background.mp4" type="video/mp4"/>
              </video>
            </figure>
            <section>
                <h8 class="icon1"><img src="images/icon1.png"/></h8>
              </section>

    <div class="row">
          <div class="col-lg-12">
            <section class="page-header">
              <p class="uinfo" id="tables">USAGE INFORMATION</p>
            </section>

            <div class="bs-component">
              <table class="table" id="info_table">
                <thead>
                  <tr>
                   	<th>User</th>
               			<th>BoxID</th>
    		            <th>Start Date</th>
    		            <th>Finish Date</th>
    		            <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                <% info.forEach(function(each_info) { %>
                  <tr>
                    <td><%= each_info.user_id %></td>
                    <td><%= each_info.box_id %></td>
                    <td><%= each_info.start_date %></td>
                    <td><%= each_info.finish_date %></td>
                    <td><%= each_info.price %></td>
                    <td><button class="delete" type="submit" class="btn btn-default" id="delete_"+"<%= each_info.box_id %>" value="<%= each_info._id %>">delete</button></td>
                  </tr>
                <% }) %>
                </tbody>
              </table> 
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>

        <div id="window3" class="window">
          <div class="box">
          <div class="container">
            <figure class="background">
                <video id="vid1" autoplay loop>
                  <source src="images/background.mp4" type="video/mp4"/>
                </video>
              </figure>
        <div class="row">
            <div class="col-lg-12">
              <section class="page-header">
                <p class="uinfo" id="tables">PAST USAGE INFORMATION</p>
              </section>
  
              <div class="bs-component">
                <table class="table" id="info_table">
                  <thead>
                    <tr>
                       <th>User</th>
                       <th>BoxID</th>
                      <th>Start Date</th>
                      <th>Finish Date</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% pinfo.forEach(function(each_info) { %>
                    <tr>
                      <td><%= each_info.user_id %></td>
                      <td><%= each_info.box_id %></td>
                      <td><%= each_info.start_date %></td>
                      <td><%= each_info.finish_date %></td>
                      <td><%= each_info.price %></td>
                    </tr>
                  <% }) %>
                  </tbody>
                </table> 
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>

  </body>

  <script>

    var socket = io();    

    $('[id^="delete_"]').click(function(){

      var _id = $(this).val();

      socket.emit('expire', _id);

      $.ajax({
      type: 'POST',
      url: '/delete_info',
      data: {_id: _id},
      success: function(data) {
          //document.getElementById("info_table").deleteRow(1);
          location.reload();
        },
      dataType: 'json',
      async:false
      });
      

    });
  </script>
</html>
