<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <% include ../views/partials/nav %>
    
    <div class="container" id="admin_container">

    <div class="row">
    	<div class="col-lg-12">
    		<div class="page-header">
              <h1 >Boxes State</h1>
            </div>
            
            <% boxes.forEach(function(box) { %>
            
            <div class="well" id="box_info">

            	Box ID : <%= box.box_id %><br>

            	<a href="/admin/<%= box._id %>">
           		 <% if(box.using == 0){ %>
            	<img src="/images/unused_box.png" width="100px" height="100px">
         		<% } else{ %>  
         		 <img src="/images/used_box.png" width="100px" height="100px">
         		 <% } %>
         		 </a>
         		 <br>
                
             </div>
          <% }) %>
          </div>
    	</div>



    <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="tables">Usage Information</h1>
            </div>

            <div class="bs-component">
              <table class="table table-striped table-hover" id="info_table">
                <thead>
                  <tr>
                   	<th>User</th>
               			<th>BoxID</th>
    		            <th>Start Date</th>
    		            <th>Finish Date</th>
    		            <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                <% info.forEach(function(each_info) { %>
                  <tr>
                    <td><%= each_info.user_id %></td>
                    <td><%= each_info.box_id %></td>
                    <td><%= each_info.start_date %></td>
                    <td><%= each_info.finish_date %></td>
                    <td><%= each_info.price %></td>
                    <td><button type="submit" class="btn btn-default" id="delete_but" value="<%= each_info._id %>">delete</button></td>
                  </tr>
                <% }) %>
                </tbody>
              </table> 
            </div><!-- /example -->
          </div>
        </div>
        </div>
  </body>
  <script>
    $("#delete_but").click(function(){
      var _id = $('#delete_but').val();
      $.ajax({
      type: 'POST',
      url: '/delete_info',
      data: {_id: _id},
      success: function(data) {
          document.getElementById("info_table").deleteRow();
        },
      dataType: 'json',
      async:false
      });
      

    });
  </script>
</html>
