<!DOCTYPE html>
<html>
  <head>
    <!-- jquery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- my css -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Syncopate|Roboto" rel="stylesheet">
<link rel="stylesheet" href="/fonts/font.css" />
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css" media="screen">

<title>DBOX</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/prefixfree.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
  </head>

  <body>
    <div class="back">
    
    <div class="container">

    <div class="row">
    	<div class="col-lg-12">
    		<div class="page-header" id="line">
          <p class="uinfo">BOX <%= box.box_id %></p>
        </div>

        <div class="well well-lg" id="contain">
          <p class="txt6">
          User ID : <%= box.user_id %><br><br>
          물건 유무 : <% if( box.photosen == 0){ %>
                        O<br><br>
                      <% } else{ %>
                        X<br><br>
                      <% } %>
                      
          문 여/닫힘 : <% if( box.micros == 0){ %>
                        CLOSE<br><br>
                      <% } else{ %>
                        OPEN<br><br>
                      <% } %>

          잠금여부 : <p class="txt6" id="lock_status">
            
              <% if( box.lock == 0){ %>
                LOCK<br><br>
              <% } else{ %>
                UNLOCK<br><br>
              <% } %>
            
            </p>
          </p>


          <button type="submit" class="lock" id="lock_but">lock</button>
          <button type="submit" class="lock" id="photo_but">photo</button>

          <div id='img_div'>

          </div>
          </div>
          <p class="mes">돌아가려면 뒤로 가기를 눌러주세요.</p>
        </div>

            
      </div>
    </div>

    </div>
  </body>
  <script>

      var socket = io();

      socket.on('img_attach', function(msg){

      var img_div = document.getElementById('img_div');
      var img = document.createElement('img');
      img.setAttribute('src','/'+msg.user_id+'_'+msg.box_id+'.jpg');
      img.setAttribute('height','300');
      img.setAttribute('width','300');
      console.log('img_attach');
      img_div.appendChild(img);
      
      });

      $("#photo_but").click(function(){
      var photo_info = {id:'<%= box._id %>', user_id:'<%= box.user_id %>', box_id:'<%= box.box_id %>'}
      socket.emit('photo', photo_info);
      socket.on('photo', function(msg){
        //$('#lock_status').html(msg.lock);
        //location.reload();
      });
      
    });

    $("#lock_but").click(function(){
      var lock_info = {lock:'<%= box.lock %>', id:'<%= box._id %>', box_id:'<%= box.box_id %>'}
      socket.emit('lock', lock_info);
      socket.on('lock', function(msg){
        $('#lock_status').html(msg.lock);
        location.reload();
      });

    });

   // });
    

    
  </script>
</html>
