<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    
  </head>
  <body>
    <% include ../views/partials/nav %>
    
    <div class="container" id="admin_container">

    <div class="row">
    	<div class="col-lg-12">
    		<div class="page-header">
          <h1 >Box <%= box.box_id %></h1>
        </div>

        <div class="well well-lg">
          User ID : <%= box.user_id %><br><br>
          물건 유무 : <% if( box.photosen == 0){ %>
                        O<br><br>
                      <% } else{ %>
                        X<br><br>
                      <% } %>
                      
          문 여/닫힘 : <% if( box.micros == 0){ %>
                        CLOSE<br><br>
                      <% } else{ %>
                        OPEN<br><br>
                      <% } %>

          잠금여부 : <p id="lock_status">
            
              <% if( box.lock == 0){ %>
                LOCK<br><br>
              <% } else{ %>
                UNLOCK<br><br>
              <% } %>
            
            </p>


          <button type="submit" class="btn btn-default" id="lock_but">lock</button>
          <button type="submit" class="btn btn-default" id="photo_but">photo</button>

          <div id='img_div'>

          </div>


        </div>

            
      </div>
    </div>

    </div>
  </body>
  <script>

      var socket = io();

      socket.on('img_attach', function(msg){

      var img_div = document.getElementById('img_div');
      var img = document.createElement('img');
      img.setAttribute('src','/'+msg.user_id+'_'+msg.box_id+'.jpg');
      img.setAttribute('height','300');
      img.setAttribute('width','300');
      console.log('img_attach');
      img_div.appendChild(img);
      
      });

      $("#photo_but").click(function(){
      var photo_info = {id:'<%= box._id %>', user_id:'<%= box.user_id %>', box_id:'<%= box.box_id %>'}
      socket.emit('photo', photo_info);
      socket.on('photo', function(msg){
        //$('#lock_status').html(msg.lock);
        //location.reload();
      });
      
    });

    $("#lock_but").click(function(){
      var lock_info = {lock:'<%= box.lock %>', id:'<%= box._id %>', box_id:'<%= box.box_id %>'}
      socket.emit('lock', lock_info);
      socket.on('lock', function(msg){
        $('#lock_status').html(msg.lock);
        location.reload();
      });

    });

   // });
    

    
  </script>
</html>
